* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: white;
}

.navlogo {
  display: block;
  margin-left: 1rem;
  margin-top: 1rem;
}

.navbar,
a,
li,
ul {
  text-decoration: none;
  list-style-type: none;
  margin-top: 3rem;
  color: white;
  cursor: pointer;
  background-color: #749a24;
}

.navbar {
  display: block;
  position: relative;
  padding-left: 2rem;
  row-gap: 1rem;
  height: 100vh;
  width: 200px;
  padding-top: 1rem;
  font-size: 24px;
}

.menu-close {
  position: relative;
  display: block;
  top: -15rem;
  color: #749a24;
  width: 110px;
  left: 149px;
  height: 50px;
  background-color: #749a24;
  border-radius: 15px 50px 50px 50px;
}
