@import url("https://use.typekit.net/iqv5qbb.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "basic-sans", sans-serif;
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  align-self: center;
  margin-top: 1rem;
}

.main-top-head {
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #ff0000d9);
  color: transparent;
  -webkit-background-clip: text;
}

.res-top-head {
  font-size: 60px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #ff0000d9);
  color: transparent;
  -webkit-background-clip: text;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  align-self: center;
  margin-top: 1rem;
  background-color: aquamarine;
  height: 550px;
}

.main-bot-head {
  background-image:
    linear-gradient(
      to right,
      #19186e,
      #004396,
      #00608c,
      #00765a,
      #1a8711
    );
  color: transparent;
  -webkit-background-clip: text;
  font-size: 22px;
  font-weight: 500;
}

.card-image {
  width: 20vw;
  height: 100%;
  object-fit: cover;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card {
  margin-bottom: 2rem;
}

.reservations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  align-self: center;
  width: auto;
  margin-left: 15%;
  margin-right: 15%;
  gap: 1rem;
}

.my-reservations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  align-self: center;
  margin-top: 1rem;
}

.bg-img {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  background-image: url("./images/reservation-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.top-head {
  font-size: 40px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.bot-head {
  border-top: 2px solid black;
  font-size: 20px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.loc-input {
  width: 120px;
  height: 3rem;
  border: 1px solid black;
  border-radius: 20%/50%;
  padding-left: 25px;
  color: black;
}

.book-now {
  margin-left: 1rem;
  width: 120px;
  height: 3rem;
  border-radius: 20%/50%;
  border: 1px solid white;
  color: white;
  background-color: black;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    align-self: center;
    gap: 0.5rem;
    margin-bottom: -4rem;
  }

  .main-top-head {
    font-size: 26px;
  }

  .main-bot-head {
    font-size: 18px;
  }

  .swiper-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    width: 100%;
    height: 100%;
    row-gap: 1rem;
  }

  .card-image {
    width: 40vh;
    height: 100%;
    object-fit: cover;
  }

  .card-image img {
    margin-bottom: -2rem;
  }

  .card-content {
    width: 25rem;
    font-size: 20px;
    background-color: #fff;
  }

  .text-center {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-left: 13rem;
  }
}
